
html {
    background-color: rgb(29, 34, 49);
    margin: 0;
    padding: 0;
    height:100%
}
.quizbox {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    overflow-x: hidden
}
.question {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: rgb(200, 188, 228);

}
#question {
    color:rgb(200, 188, 228);
    font-size: 50px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    -webkit-text-stroke: 2px rgb(113, 83, 141);
}
.answer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(113, 83, 141);
    top:400px;

}
#ansinput {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border: 0px;
text-align: center;
 opacity: 0%;
 width: 100%;
 height: 100%;
 font-size: 50px;
}
#ansinput:hover, #ansinput:focus{
    opacity: 30%;
}
